<?xml version="1.0"?>
<launch>
  
  <!-- my args -->
  <arg name="from_database" default="False"/>
  <arg name="warehouse" default="DKN"/>
  <arg name="path_unit" default="0.5"/>
  <arg name="method" default="multi_json"/>
  <arg name="stype" default=""/>

  <include file="$(find init_sim)/launch/empty_world_complete.launch">
    <arg name="world_name" value="$(find init_sim)/worlds/walls2.world"/> 
    
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <node pkg="init_sim" type="spawn_map_apf.py" name="spawn_map" output="screen" args="=-from_database $(arg from_database) -warehouse $(arg warehouse) -path_unit $(arg path_unit) -method $(arg method) -stype $(arg stype)">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map odom 100" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 odom r1/odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 odom r2/odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0 0 0 0 0 0 1 odom r3/odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0 0 0 0 0 0 1 odom r4/odom 100" /> -->

  <!-- Load RVIZ -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d /home/piotr/mori_ws/src/mr_guide/rviz/config1.rviz" /> -->

  
</launch>
