<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find apf)/worlds/empty_world_1.world" /> -->
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>

  <!-- walls3 empty_wall empty_world_1 columns1.world-->
  <!-- launch gazebo world -->
  <!-- <include file="$(find init_sim)/launch/empty_world_complete.launch">
    <arg name="world_name" value="$(find init_sim)/worlds/empty_world_1.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="false" />
    <arg name="recording" value="false" />
    <arg name="debug" value="false" />
  </include> -->

  <!-- static transform publishers -->
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link0_broadcaster" args="0 0 0 0 0 0 1 map r0/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map r1/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 map r2/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0 0 0 0 0 0 1 map r3/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0 0 0 0 0 0 1 map r4/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link5_broadcaster" args="0 0 0 0 0 0 1 map r5/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link6_broadcaster" args="0 0 0 0 0 0 1 odom r6/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link7_broadcaster" args="0 0 0 0 0 0 1 map r7/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link8_broadcaster" args="0 0 0 0 0 0 1 map r8/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link9_broadcaster" args="0 0 0 0 0 0 1 map r9/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link10_broadcaster" args="0 0 0 0 0 0 1 map r10/odom 50" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="link11_broadcaster" args="0 0 0 0 0 0 1 map r11/odom 50"/>
  <node pkg="tf" type="static_transform_publisher" name="link12_broadcaster" args="0 0 0 0 0 0 1 map r12/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link13_broadcaster" args="0 0 0 0 0 0 1 map r13/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link14_broadcaster" args="0 0 0 0 0 0 1 map r14/odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="link15_broadcaster" args="0 0 0 0 0 0 1 map r15/odom 50" /> -->

  <!-- launch states publishers -->
  <include file="$(find apf)/launch/launch_states_publisher.launch" />

  <!-- run path planning -->
  <node pkg="apf" name="mrapf_main" type="mrapf_main.py" output="screen" />

  <!-- Load RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d /home/morteza/mo_ws/src/mr_apf/rviz/apf_arviz.rviz" />


</launch>